# Ignore Google Sheets service account credentials
*.json
.env

# Ignore local terraform directories
.terraform/

*.tfvars
*.tfvars.json
terraform.tfstate
terraform.tfstate.backup

.aws/

# IAM user access keys
.csv

# Python virtual environment
.venv/
venv/
__pycache__/
*.pyc

# Airflow specific
airflow.cfg
airflow.db
*.log
airflow/logs/
logs/

# dbt profile
profiles.yml

.git