pandas
sqlalchemy
psycopg2-binary
pyarrow
fastparquet
gspread
oauth2client
datetime
gspread
dbt-core
dbt-snowflake
boto3
apache-airflow-providers-amazon
apache-airflow-providers-google
apache-airflow-providers-standard
apache-airflow-providers-snowflake
google-auth
flake8
pytest